.container{
    margin: 0 auto;
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    line-height: 30px;
}

.input {
    width: 800px;
    margin: 10px auto;
    font-size: 20px;
    height: 250px;
    padding: 10px;  
    box-sizing: border-box;
}

.keybord {
    display: block;
    border: 2px solid black;
    padding: 5px;
    width: 850px;
    margin: auto;
    background-color: rgb(85, 84, 84);
}

.divRow {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
} 

.k-key {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color:  rgb(185, 184, 184);
    margin: 3px 5px;
    padding: 3px;
    border:solid 1px rgb(185, 184, 184);
    transition: background-color, color;
    background-color: rgb(41, 40, 40);
    text-align: center;
    cursor: pointer;
} 

.spanEng, .engLetters, .ruLetter {
    display: block;
}

.engCapsLetter, .k-key .ruCapsLetter,.k-key .spanRu {
    display: none;
}

.engCapsLetter, .ruCapsLetter,.k-key, .spanRu, .spanEng, .engLetters, .ruLetter {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.caps-lock , .enter{
    width: 70px;
}

.backspace, .shift {
    width: 90px;
}

.tab, .control {
    width: 55px;
}

.space {
    width: 50%;
}

.k-key:hover {
    color:  rgb(58, 57, 57);
    background-color: rgb(211, 211, 211);
}

.keybord .active {
    color:  rgb(58, 57, 57);
    background-color: rgb(82, 181, 247);
    transition: 0.2s;
}
